*{
    margin: 0px;
    padding: 0px;
    background-color: rgb(0, 0, 0);
}

body{
    font-family: "Montserrat", sans-serif;
}

.container{
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
}


ul li{
    margin-top: -70px;
}
.nav-item a{
    list-style: none;
    color: white; 
    transition: border-radius 0.5s;
}
.nav-item a:hover{
    background-color: rgba(255, 255, 255, 0.095);
    color: white;
    border-radius: 20px;
}

.navItm{
    margin-right: -75px;
}

#Button-order{
    height: 40px;
    width: 325px;
    margin-left: 20px;
    color: white;
}

#Button-order a{
    color: white;
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0);
}

.btnLogo{
    padding: 1px;
}

.btnLogo button{
    margin-top: 10px;
}
.btn{
    margin-left: 4px;
}
#btn2{
    margin-left: -13px;
}

#Order-items{
    padding-top: 25px;
    height: 250px;
    margin-top: 300px;
    margin-left: 100px;
}

#offer{
    margin-left: 0px;
}

#offer-img{
    width: 100%;
}

#spinner{
    border: 1px solid rgb(0, 0, 0);
    height: 700px;
    width: 1508px;
}

#get h1{
    color: white;
    text-align: center;
    font-weight: 900;
    font-size: 30px;
}
#form input{
    width: 80%;
    margin-left: 150px;
}
#form textarea{
    height: 300px;
    width: 80%;
    margin-left: 150px;
}
#form button{
    font-size: 15px;
    font-weight: 700;
    padding: 10px;
    margin-left: 150px;
}
.row{
    height: 110%;
}

#maps{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: 100;
}

#maps iframe,p{
    padding: 0px;
    margin-top: 90px;
    margin-left: 150px;
}

.footer {
    padding: 20px 0;
}
.footer .logo {
    width: 150px;
}
.footer .social-icons a {
    margin: 0 10px;
    color: #e3e3e3;
}

#footPara{
    font-weight: 100;
    font-size: 18px;
    color: white;
    margin-left: 520px;
}